/* global variables */
:root {
	--primary-violet: hsl(263, 55%, 52%);
	--light-violet: hsl(263, 75%, 72%);
	--primary-dark-grayish-blue: hsl(240, 18%, 77%);
	--primary-dark-blackish-blue: hsl(219, 29%, 14%);
	--neutral-light-gray: hsl(0, 0%, 81%);
	--neutral-grayish-blue: hsl(210, 46%, 95%);
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* global styles */
* {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

html {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
	color: var(--dark-blue);
}

/* container styles */
.container {
	min-height: 100vh;
	display: flex;
}
.grid {
	display: grid;
}

/* generic testimonial styles */
.person {
	border: 1px solid black;
	margin: 2rem 1.5rem 0 2rem;
	padding: 2rem 2.4rem 2.4rem 2.4rem;
	border-radius: 0.5rem;
}
.author {
	display: flex;
	justify-items: center;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1.3rem;
}
.author img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}

.author-name p {
	opacity: 50%;
}

p.summary {
	font-size: 1.54rem;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 3rem;
}

p.review {
	opacity: 70%;
	line-height: 18px;
}

/* specific card styles */

.person-1 {
	background: var(--primary-violet) url(./images/bg-pattern-quotation.svg)
		no-repeat right top;

	color: white;
}

.person-1 img {
	border: 2px solid var(--light-violet);
}

/* attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
